.div_header {
   height: 21vh;
   width: 100%;
   background-color: rgb(223, 223, 126);  
}

.div_logo {
    height: 100%;
}

.div_logo img{
    width: 150px;
    height: 90%;
    border-radius: .5rem;

}

.div_logo-form {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}

.ul_header {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-right: 8rem;
    margin-top: 0;
}

.li_header button{
    margin-top: 0;
    padding-top: 0;
    background-color: rgb(223, 223, 126);  
    font-weight: 700;
    font-family: "eixo";
    font-size: 15px;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
}

.li_header button:hover {
    color: #fff;
}

.form_header {
    padding-top: 2rem;
    width: 100vh;
    height: 5vh;

}

.input_header {    
    width: 95%;
    height: 100%;
    border: none;
}

.button_header-search {
    margin-top: .5rem;
    height: 100%;
    border: none;
}

.button_header-search:hover {
    background-color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    color: goldenrod;
} 

.div_header-cart {
    margin-top: 2rem;
} 

.div_header-cart:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #fff;
}

.modal_header {
    margin-top: 21vh; 
    background-color: dimgray;
    margin-left: 68%;
    margin-right: 21%;
    position: relative;
    border-radius: .5rem;
}

.ul_modal-header {
    padding: .5rem;   
    list-style: none;     
}

.li_modal-header {
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-family: "eixo";
}

.li_modal-header:hover {
    color: goldenrod;
}

.button_modal-header {
   margin-top: 3%;
   margin-left: 80%;
   position: absolute;
   border: none;
   border-radius: .5rem;
   background-color: dimgray;
   color: red;
   cursor: pointer;
}